.Monday{
  background-color: skyblue;
}
.Tuesday{
  background-color: lightgrey;
}
.Wednesday{
  background-color: lightgreen;
}
.Thursday{
  background-color: violet;
}
.Friday{
  background-color: pink;
}
.Saturday{
  background-color: lightyellow;
}
.Sunday{
  background-color: cyan;
}
.day{
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.input-class{
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1vw;
  padding-left: 1vw;
}
